<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body style="color: black">
    <div style="border: 1px solid white; width: 100%">
        <div style="padding: 30px">
            <p style="
            font-weight: 100;
            font-size: 20px;
            color: black;
          ">Dear {{name}},</p>
            <p style="
            padding-top: 30px;
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">
                I hope this email finds you well.</p>
            <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">I am pleased to inform you that the organ matching process has been successfully completed, and I wanted to provide you
        with an update regarding your position in the list.</p>
            <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">After thorough evaluation and matching, you have been placed at position <span style="font-size: 25px; color : black; font-weight :bolder">{{position}}</span> on the organ recipient
        list.</p>
            </p>
            <p style="font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;">Please keep in mind that your position on the list may change based on various factors, including medical urgency and
            the availability of suitable organs. Our team is committed to keeping you informed of any updates or changes in your
            status.
            </p>
            <p style="
          font-weight: 100;
          font-size: 20px;
          line-height: 37px;
          color: black;
        ">If you have any questions or concerns, please feel free to reach out to us. We are here to support you throughout this
        process and ensure that you receive the best possible care.
            </p>

            <p style="
                      font-weight: 100;
                      font-size: 20px;
                      line-height: 37px;
                      color: black;
                    ">Thank you for your patience and cooperation.
            </p>

        </div>
    </div>
</body>

</html>