<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body style="color: black">
    <div style="border: 1px solid white; width: 100%">
      <div style="padding: 30px">
        <p style="
            font-weight: 100;
            font-size: 20px;
            color: black;
          ">Hi,</p>
        <p
          style="
            padding-top: 30px;
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          "
        >
          Welcome to our community! We are delighted to inform you that your registration as an organ recipient has been
          successfully completed. Your decision to join us in this journey of hope and healing fills our hearts with gratitude.</p> 
          <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">Your presence as an organ recipient symbolizes the promise of renewed life and vitality. We are honored to have you as
          part of our community, and we are committed to supporting you every step of the way on your path to recovery.</p>
          <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">As an organ recipient, you embody resilience and strength, and we are here to provide you with the care and assistance
          you need. Whether you have questions, concerns, or simply wish to connect with others who share similar experiences, our
          community is here to offer support and guidance.
          </p>
          <p style="font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;">Additionally, we are pleased to inform you that your NFT has been successfully transferred to your OpenSea account with
            the address: {{address}}.
            Your registered organ recipient ID is: &nbsp;<span style="font-size: 25px;">{{id}}</span></p>
        </p>
        <p style="
          font-weight: 100;
          font-size: 20px;
          line-height: 37px;
          color: black;
        ">Thank you for entrusting us with your care. We are honored to be a part of your journey towards a healthier, happier
        life.
        </p>
        <br />
        <br />
      </div>
    </div>
  </body>
</html>
