<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
</head>

<body style="color: black">
    <div style="border: 1px solid white; width: 100%">
        <div style="padding: 30px">
            <p style="
            font-weight: 100;
            font-size: 20px;
            color: black;
          ">Dear {{name}},</p>
            <p style="
            padding-top: 30px;
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">
                I am thrilled to share with you the wonderful news that the organ matching process has been successfully completed, and
                we are now ready to proceed with the transplant process.
                
                After careful evaluation and consideration, a suitable donor match has been found for you, and we are eager to move
                forward with the transplant procedure. This is a significant step in your journey towards better health and well-being.</p>
            <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">Our medical team is working diligently to ensure that all necessary preparations are made for the transplant surgery. We
        will be in touch with you shortly to provide detailed information about the next steps and to answer any questions you
        may have.</p>
            <p style="
            font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;
          ">Please rest assured that your safety and comfort are our top priorities, and we are committed to providing you with the
        highest quality of care throughout this process.</p>
            </p>
            <p style="font-weight: 100;
            font-size: 20px;
            line-height: 37px;
            color: black;">If you have any concerns or need further assistance, please do not hesitate to reach out to us. We are here to support
            you every step of the way.
            </p>
            <p style="
          font-weight: 100;
          font-size: 20px;
          line-height: 37px;
          color: black;
        ">Thank you for your patience and cooperation. We look forward to embarking on this journey towards a healthier future
        together.
            </p>

        </div>
    </div>
</body>

</html>